@include responsive {
  .navbar {
    // navbar content 1
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__content1 {
      display: block;
      width: 100%;
      .hamburger {
        display: none;
      }
    }

    &__content2 {
      background: var(--background-color);
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1000;
      transform: translateX(0);
      @include transition;

      .list {
        text-align: center;
        display: flex;
      }
      .item {
        margin: 2rem;
      }
      .link {
        display: inline-block;
        color: var(--color-sec);
        &::before {
          background: var(--color-sec);
        }
      }

      .reserve {
        background: var(--color-sec);
        color: var(--background-color);
        border: 2px var(--color-sec) solid;

        @include transition;
        &:hover {
          color: var(--color-sec);
          background: var(--background-color);
        }
        &::before {
          background: var(--background-color);
          display: none;
        }
      }
    }
  }
  .info {
    .flex {
      flex-direction: row;
    }
  }

  .rooms {
    .flex {
      flex-direction: row;

      .flex-child {
        margin: 0;
        margin-left: 5rem;
      }
    }
  }

  .restaurant {
    .flex {
      flex-direction: row;
      .flex-child {
        margin: 0;
        margin-left: 5rem;
      }
    }
  }

  .services {
    .flex {
      flex-direction: row;
      .flex-child1 {
        padding-right: 4rem;
      }
    }
  }

  .spa {
    .flex {
      flex-direction: row;

      .flex-child {
        margin: 0;
        margin-left: 5rem;
      }
    }
  }

  footer {
    .flex {
      flex-direction: row;

      .flex-child1 {
        min-width: 40rem;
        padding-right: 2rem;
      }
    }
    .copyright {
      text-align: center;
    }
  }
}
