$sec-color: #455d58;
$primary-color: #faf2f7;
$white: #fff;

:root {
  --background-color: #{$primary-color};
  --color-text: #{$white};
  --color-sec: #{$sec-color};
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: var(--background-color);
}

.flex {
  display: flex;
  align-items: center;
}

.flex-child {
  margin-bottom: 5rem;
  flex-basis: 50%;
  min-width: 30rem;
}

.text-box-green {
  width: 100%;
  max-width: 40rem;
  color: var(--color-sec);
  p {
    margin: 4rem 0;
  }
}
.text-box-white {
  width: 100%;
  max-width: 40rem;
  color: var(--color-text);
  p {
    margin: 4rem 0;
  }
}

@mixin transition {
  transition: transform 400ms ease;
}

.btn {
  position: relative;
  background: transparent;
  display: inline-block;
  border: 0.1rem var(--color-text) solid;
  border-radius: 0.1rem;
  cursor: pointer;
  outline: none;
  padding: 2rem 4rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  transition: transform 400ms ease;
  z-index: 10;
  color: var(--color-text);
  &:hover {
    color: var(--color-sec);
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--color-text);
    left: 0;
    top: 0;
    bottom: -10px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 400ms ease;
    z-index: -2;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
  }
}
.btn-green {
  position: relative;
  background: transparent;
  display: inline-block;
  border: 0.1rem var(--color-sec) solid;
  border-radius: 0.1rem;
  cursor: pointer;
  outline: none;
  padding: 2rem 4rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  transition: transform 400ms ease;
  z-index: 10;
  color: var(--color-sec);
  &:hover {
    color: var(--color-text);
    @include transition;
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--color-sec);
    left: 0;
    top: 0;
    bottom: -10px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 400ms ease;
    z-index: -2;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
  }
}

@mixin responsive {
  @media only screen and (min-width: 56em) {
    @content;
  }
}
